.first {
  background-color: rgb(183, 182, 182);
  width: 500px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-top: 5px;
}

/* .second {
  background-color: rgb(183, 182, 182);
  width: 500px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-top: 5px;
} */
